{% extends 'base.html' %}
{% block content %}
<div class="container my-2">
    <div class="row">
        <div class="card text-center col-sm mx-3 my-2 bg-info text-white">
            <div class="card-header">
                Infected
            </div>
            <div class="card-body">
                <h5 class="card-title">{{confirmedCases}}</h5>
                <p class="card-text">Number of active cases of COVID-19</p>
            </div>
            {% if change %}
            <div class="card-body">
                <h5 class="card-title">{{confirmed_change}}</h5>
                <p class="card-text">Increase in active cases of COVID-19</p>
            </div>
            {% endif %}
            <div class="card-footer text-white">
                {{lastUpdate}}
            </div>
        </div>
        <div class="card text-center text-white bg-success col-sm mx-3 my-2">
            <div class="card-header">
                Recovered
            </div>
            <div class="card-body">
                <h5 class="card-title">{{recoveredCases}}</h5>
                <p class="card-text">Number of recoveries from COVID-19</p>
            </div>
            {% if change %}
            <div class="card-body">
                <h5 class="card-title">Coming Soon</h5>
                <p class="card-text">Increase in recoveries from COVID-19</p>
            </div>
            {% endif %}
            <div class="card-footer text-white">
                {{lastUpdate}}
            </div>
        </div>
        <div class="card text-center text-white bg-danger col-sm mx-3 my-2">
            <div class="card-header">
                Deaths
            </div>
            <div class="card-body">
                <h5 class="card-title">{{deathCount}}</h5>
                <p class="card-text">Number of deaths caused by COVID-19</p>
            </div>
            {% if change %}
            <div class="card-body">
                <h5 class="card-title">{{death_change}}</h5>
                <p class="card-text">Increase in deaths caused by COVID-19</p>
            </div>
            {% endif %}
            <div class="card-footer text-white">
                {{lastUpdate}}
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br>
<div class="container">
    <form class="form-inline" method="POST" action="countryInfo">
        {% csrf_token %}
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Select the country:</label>
        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="c_list">
            {% if selected_country %}
            <option selected value="{{selected_country}}">{{selected_country}}</option>
            {% else %}
            <option selected value="Nothing">Global</option>
            {% endif %}

            {% for country in country_list %}
            <option value="{{country}}">{{country}}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary my-1">Submit</button>
    </form>
</div>
{% if selected_country %}
<div class="container">
    <h1 style="font-size:1.3em;" class="my-2 mx-2">Data for the country {{selected_country}}</h1>
    <a href="{% url 'home' %}" style="font-size:1em;" class="my-2 mx-2">Back to Global</a>
</div>
{% endif %}
{% if change %}
<br><br>
<h4 align='center'>Click on the labels (Infected/Deaths) to see individual Graphs.</h4>
<br>
{% endif %}
<!-- Chart showing the Infected Cases -->
<div class='container my-3'>
        <canvas id="myChart">

        </canvas>
</div>
<h4 align='center'>Chart showing the Number of Confirmed Cases and Deaths</h4>
{% if change %}
<br><br><br>
<!-- Chart showing the Increase in Cases -->
<div class='container my-3'>
        <canvas id="myChart-increase">

        </canvas>
</div>
<h4 align='center'>Chart showing the Increase in the number of Confirmed Cases & Deaths</h4>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    {% if bar %}
        var myBarChart = new Chart(document.getElementById('myChart').getContext('2d'), {
            type: 'bar',
            data: {
                labels: ['Infected', 'Recovered', 'Deaths'],
                datasets: [{
                    label: 'People',
                    backgroundColor: [
                        'rgb(23,162,184,0.7)',
                        'rgb(40,167,69,0.7)',
                        'rgb(220,53,69,0.7)',
                    ],
                    data: [{{confirmedCases}}, {{recoveredCases}}, {{deathCount}}]
                }],
            }
        });
        {% else %}
        var myLineChart = new Chart(document.getElementById('myChart').getContext('2d'), {
                        type: 'line',
                        data: {
                            labels: [{% for x in reportDate %}'{{ x|escapejs }}',{% endfor %}],
                            datasets: [{
                                data: {{ confirmed_total }},
                                label: 'Infected',
                                pointStyle: 'cross',
                                borderColor: 'rgb(234,105,35)',
                                backgroundColor:'rgb(234,105,35,0.3)'
                                }, {
                                data: {{ deaths_total }},
                                label: 'Deaths',
                                pointStyle: 'cross',
                                borderColor: 'rgb(220,53,69)',
                                backgroundColor: 'rgb(220,53,69,0.7)',
                            }],
                        }
            });
    {% endif %}
</script>
<script>
    var ctx2=document.getElementById('myChart-increase').getContext('2d');
    var myLineChart2 = new Chart(ctx2, {
                        type: 'line',
                        data: {
                            labels: [{% for x in reportDate %}'{{ x|escapejs }}',{% endfor %}],
                            datasets: [{
                                data: {{ increase_confirmed }},
                                label: 'Increased Cases',
                                pointStyle: 'cross',
                                borderColor: 'rgb(234,105,35)',
                                backgroundColor:'rgb(234,105,35,0.3)'
                                },
                                {
                                data: {{ increase_deaths }},
                                label: 'Deaths',
                                pointStyle: 'cross',
                                borderColor: 'rgb(220,53,69)',
                                backgroundColor: 'rgb(220,53,69,0.7)',
                            }],
                        }
            });
</script>
{% endblock content %}